<header>
  <h3>Check The Waves</h3>
  <div class='updated-at'><%= checkthewaves.updated_at_string %></div>
</header>

<div class="forecast">
  <p>
    <%= checkthewaves.wave_height %> at <%= checkthewaves.peak_period %>,
    <%= checkthewaves.water_temp_bottom %>
  </p>
</div>
