<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Surfdash</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
  <body>
    <div class="wrapper">

      <div class="cams-and-graphs">
        <section class="cam-wrapper">
          <!-- <iframe width="640" height="360" src="http://e.cdn&#45;surfline.com/syndication/embed/v1/player.html?id=4421" frameborder="0" scrolling="no" allowfullscreen></iframe> -->
          <iframe id="freeman-cam" width="640" height="360" src="http://www.gosurfsportswear.com/piercam/pier.html#cam" frameborder="0" scrolling="no"></iframe>
        </section>

        <section id="tide-chart" class="tide-chart">
        </section>

        <section class="wind-alert-wrapper">
          <div class="wind-alert-map-wrapper" style="width: 213px; height: 245px; float: left">
            <iframe align="top" name="wind-map" id="wind-map" src="http://widgets.windalert.com/widgets/web/windMap?w=213&h=245&c=f2f2f2&set_ctl=all&m_m=t&csn= &search=28.383,-80.63&sn=Cocoa Beach Pier&sid=550&u_t=F&act=Kite&m_c=28.383,-80.63&m_z=11&app=windalert" width="213" height="245" frameborder="0" scrolling="no" allowtransparency="no"></iframe>
          </div>

          <div class="wind-alert-graph-wrapper">
            <iframe align="top" src="http://widgets.windalert.com/widgets/web/currentConditions?spot_id=550&units_wind=mph&units_temp=F&width=426&height=245&color=f2f2f2&name= &activity=Kite&app=windalert&include_fx=true" width="426" height="245" frameborder="0" scrolling="no" allowtransparency="no"></iframe>
          </div>

        </section>
      </div>

      <div class="reports">
        <section class="reports-wrapper">
          <div id="weather-report-wrapper" class="weather-report-wrapper report-wrapper">
          </div>
          <div id="surfline-report-wrapper" class="surfline-report-wrapper report-wrapper">
          </div>
          <div id="checkthewaves-report-wrapper" class="checkthewaves-report-wrapper report-wrapper">
          </div>
          <div id="cflsurf-report-wrapper" class="cflsurf-report-wrapper report-wrapper">
          </div>
          <div id="freeman-report-wrapper" class="freeman-report-wrapper report-wrapper">
          </div>
        </section>
      </div>
    </div>

  </body>
  <script src="javascripts/lib/d3.min.js"></script>
  <script src="javascripts/lib/jquery-2.1.3.min.js"></script>
  <script src="javascripts/tide_chart.js"></script>
  <script src="javascripts/app.js"></script>
</html>
