---
http_interactions:
- request:
    method: get
    uri: https://www.ndbc.noaa.gov/data/realtime2/41113.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=ISO-8859-1
      Last-Modified:
      - Tue, 02 Jun 2020 22:10:26 GMT
      Etag:
      - '"32134-5a7212db2b880-gzip"'
    body:
      encoding: ASCII-8BIT
      string: |
        #YY  MM DD hh mm WDIR WSPD GST  WVHT   DPD   APD MWD   PRES  ATMP  WTMP  DEWP  VIS PTDY  TIDE
        #yr  mo dy hr mn degT m/s  m/s     m   sec   sec degT   hPa  degC  degC  degC  nmi  hPa    ft
        2020 06 02 22 00  MM   MM   MM   1.4     8   4.9  81     MM    MM  26.7    MM   MM   MM    MM
        2020 06 02 21 30  MM   MM   MM   1.4     8   4.9  88     MM    MM  26.7    MM   MM   MM    MM
 [...]
- request:
    method: get
    uri: http://bobfreemansurf.com/piercam/pier.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Wed, 06 Nov 2019 12:11:22 GMT
      Etag:
      - W/"1125a306-cf7-596ac7275019d"
      X-Webcom-Cache-Status:
      - BYPASS
    body:
      encoding: ASCII-8BIT
      string: "<!doctype html public \"-//W3C//DTD HTML 4.0 Transitional//EN\">\r\n\r\n\r\n<head>\r\n<title>Bob
        Freeman - Surfer</title>\r\n\r\n</head>\r\n\r\n<body Text=\"#000000\" width=750
        LINK=\"#0000ff\" VLINK=\"#0ccfff\" ALINK=\"#888888\" #SaveReturnPath topmargin=\"10\"
        leftmargin=\"10\" RESIZE>\r\n\r\n<table background=\"http://www.bobfreemansurf.com/piercam/bg5.jpg\"
        width=750 border=4 cellpadding=20>\r\n <tr>\r\n  <td width=670>\r\n<P align=right><font
        color=black face=Arial size=2><a href=\"http://www.bobfreemansurf.com\"><img
        src=\"http://www.bobfreemansurf.com/piercam/home1.jpg\"></a> <a href=\"mailto:bob@bobfreemansurf.com\"><img
        src=\"http://www.bobfreemansurf.com/piercam/email1.jpg\"></a>\r\n</P>\r\n<table
        width=450>\r\n  <tr>\r\n    <td width=100>\r\n    </td>\r\n    <td width=150
        ><img src=\"http://www.bobfreemansurf.com/piercam/bob-70s.jpg\" width=150
        border=1>\r\n    </td>\r\n    <td width=200><font size=4 color=black><b><i>Bob
        Freeman<br><br><br><font size=5>Surf Reporting<br>and Forecasting</i></b></font>\r\n
        \   </td>\r\n  </tr>\r\n</table>\r\n<br><br>\r\n<P align=left>\r\n\r\n<font
        size=5 color=black>\r\n... time to retire</font><font size=3 color=black><br>\r\n\r\n<br><br>\r\nMy
        first surf reports and weekend forecasts were broadcast live from Canaveral
        Pier over WKKO radio back in 1970.\r\n<br>\r\nLink to story... <a href=\"http://www.bobfreemansurf.com/surfrpt.htm\">My
        1st Surf Repor[...]
