body {
  background: #f2f2f2;
  font-family: "Open Sans";
  color: #515151;
  font-size: 12px;
  line-height: 18px
}

.wrapper {
  width: 640px;
  margin: auto
}

section {
  margin-top: 1em;
}

section.wind-alert-wrapper {
  margin-top: 0;
}

.cam-wrapper {
  height: 360px;
  width: 640px;
  box-shadow: 0px 0px 1px 0px rgba(170,170,170,1);
}

/* Tide Chart */
.tide-chart .line {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 1px
}

.tide-chart .area {
  fill: #eaeaea;
  stroke: none;
}

.tide-chart .now {
  fill: red;
}

.tide-chart text {
  font-size: 11px;
}

/* Surfline Report */
.report-wrapper {
  margin-bottom: 36px;
}

.report-wrapper header {
  overflow: hidden;
  background: #eaeaea;
  height: 24px;
  margin-bottom: 12px;
}
.report-wrapper header h3 {
  float: left;
  margin: 0 0 0 0.5em;
  font-size: 12px;
  line-height: 24px;
  color: #BABABA;
  font-weight: normal;
  text-transform: uppercase;
}

.report-wrapper header .updated-at {
  float: right;
  background-color: #F2F2F2;
  font-size: 11px;
  line-height: 20px;
  border: 2px solid #eaeaea;
  padding: 0 0.5em;
  color: #515151;
}
.surfline-report-wrapper{
  cursor: pointer;
}

.wave-range,
.ratings {
  font-size: 18px;
  font-weight: 600;
}

.spot-conditions {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background-color: black;
}

.spot-conditions.very-poor-conditions {
  background-color: #333;
}

.spot-conditions.poor-conditions {
  background-color: steelblue;
}

.spot-conditions.poor-to-fair-conditions {
  background: linear-gradient(to bottom right, rgba(70,130,180,1) 50%, rgba(76,186,149,1) 51%);
}

.spot-conditions.fair-conditions,
.spot-conditions.fair-to-good-conditions {
  background-color: #4CBA95;
}

.spot-conditions.good-conditions,
.spot-conditions.very-good-conditions {
  background-color: #fd9827;
}

.updated-at {
  font-style: italic;
}

.ratings .rating {
  background-image: url(../images/board-sprite.svg);
  background-size: 6px 50px;
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 8px;
  margin-right: 0.5em;
}

.ratings .rating.shortboard {
  background-position: 0 -28px;
}

/* Weather report styling */
.report-wrapper.weather-report-wrapper {
  margin-bottom: 18px;
  text-align: right;
}

.weather__current {
  position: relative;
}
.weather__desc {
  display: inline-block;
  position: absolute;
  right: 24px;
  margin: 0;
}
  .weather__time {
    display: none;
  }

.weather__icon svg {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0;
}
.weather .u-h {
  display: none;
}

.weather__toggle-forecast,
.js-weather-forecast,
.weather__location {
  display: none;
}

/* Wider screen */
@media screen and (min-width:980px) {

  .wrapper {
    width: 960px;
  }

  .cams-and-graphs {
    width: 640px;
    float: left;
  }

  .reports {
    width: 300px;
    float: right;
  }
}
